body {
    background-color: black;
    color: black;
    font-weight: 1000;
}

.grid-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-gap: 10px;
    max-width: 1150px;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: rgb(173, 78, 78);
    border: 2px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

nav {
    text-align: center;
    background-color: brown;
    border: 2px solid white;
    padding: 10px;
}

main {
    background-color: brown;
    border: 2px solid white;
    padding: 10px;
}

footer {
    background-color: rgb(173, 78, 78);
    border: 2px solid white;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.menu-buttons {
    background-color: rgb(173, 78, 78);
    color: black;
    text-align: center; /* Fixed property value */
    border-color: white;
    border-style: solid;
    box-shadow: 0 0 0 3px black;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    min-width: 120px;
    font-weight: 1000;
}

.menu-buttons:hover {
    background-color: brown;
    color: white;
    text-align: center; /* Fixed property value */
    border-color: black;
    border-style: solid;
    box-shadow: 0 0 0 3px white;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    min-width: 120px;
    font-weight: 1000;
}

.flex-container {
    display: flex;
    align-items: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0px;
}

h2 {
    margin-bottom: 0px;
}

p {
    margin-top: 0px;
}

#p-header {
    margin-top: 0px;
}

#kageopskrift {
    text-align: center;
    padding-bottom: 0px;
}

#tilberedningstid {
    text-align: center;
}

#ingrediensliste {
    margin-top: 0px;
    margin-right: 10px;
}

#kylligekage-billeder {
    height: 180px;
    margin-left: 10px;
    margin-top: 0px;
}

.left-right-margin {
    margin-left: 20px;
    margin-right: 20px;
}

#eventuel-topping {
    margin-top: 35px;
    margin-bottom: 10px;
}

#created-by {
    font-size: 24px;
    margin: 10px;
}